{{!-- render individual user posts and "New Post" button after user logs in --}}

{{>dashboardheader}}

{{#each posts}}
{{>dshbrdpost_details}}
{{/each}}

<div class="position-relative">
    <a href="/newpost"><button type="button"
            class="btn btn-newpost position-absolute top-100 start-50 translate-middle">
            <h2>+ New Post</h2>
        </button></a>
</div>
