<div class="card mx-auto mb-4">
    <div class="card-header">
        <h3>Create New Post</h3>
    </div>
    <div class="card-body">
        <form class="newpost-form">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" id="content" rows="3"></textarea>
            </div>
            <div class="d-grid gap-2 mb-2">
                <button type="submit" class="btn btn-secondary">Create</button>
            </div>
        </form>
    </div>
</div>
</div>
<script src="./js/newblogpost.js"></script>