
{{!-- sign-up view --}}
    <header class="jumbotron">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            {{#if logged_in}}
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>           
            <li class="nav-item">
                <a class="nav-link" id="logout" href="/">Logout</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {{/if}}
        </ul>
        <h1 class="p-3">Paddles-UP Coders!</h1>
        <img class="mx-3" src="/images/icons8-dragon-boat-100.png"></img>
    </header>

<div class="card mx-auto mb-4" id="sign-in-view">
    <div class="card-header">
        <h3>Sign up</h3>
    </div>
    <div class="card-body">
        <form class="signup-form">
            <div class="mb-3 form-group">
                <label for="userName" class="form-label">User Name</label>
                <input type="text" class="form-control" id="new-user-name">
            </div>
            <div class="mb-3 form-group">
                <label for="InputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="new-user-password">
            </div>
            <div class="d-grid gap-2 mb-2 form-group">
                <button type="submit" class="btn btn-secondary">Sign up!</button>
            </div>
            <a href="/login" onclick="changeView()">Login instead</a>
        </form>
    </div>
</div>
</div>

<script src="./js/signup.js"></script>