<!-- View for Edit/Delete Post -->
         <div class="card mx-auto mb-4">
            <div class="card-header">
              <h3>Edit Post</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                      <label for="title" class="form-label">Title</label>
                      <input type="text" class="form-control" id="title">{{title}}
                    </div>
                    <div class="mb-3">
                      <label for="content" class="form-label">Content</label>
                      <textarea class="form-control" id="content" rows="3">{{text}}</textarea>
                    </div>
                    <div class="d-grid gap-2 mb-2">
                    <button type="button" class="btn btn-secondary" id="btn-update">Update Post</button>
                    </div> 
                    <div class="d-grid gap-2 mb-2">
                        <button type="button" class="btn btn-secondary" id="btn-delete">Delete</button>
                        </div>  
                  </form>
                </div>
            </div>            
          </div>

        
          